#contact {
    display: flex;
    flex-direction: row;
}

.contact-container {
    display: flex;
    flex-direction: row;
    gap: 7rem;
}

#contact-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#contact-section > .text-container {
    text-align: center;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 77.7%;
}

input, textarea {
    width: 100%;
}

input::placeholder, textarea::placeholder {
    font-size: 0.9rem;
}

label {
    font-weight: bold;
}

label > span {
    color: red;
    padding-left: 0.33rem;
}

.socials-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 33.3%;
}

.social-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    gap: 1.25rem;
}

.social-item > svg {
    width: 18%;
}