@media screen and (max-width: 1280px) {

    /******************** COMMON ********************/

    h2 {
        align-items: center;
        font-size: 1.75rem;
        padding: 0 1rem;
        text-align: left;
    }

    main {
        padding: 0 1rem;
    }

    section {
        gap: 1rem;
        margin: 3rem 0;
        padding-top: 3rem;
    }

    .section-text {
        padding: 0 2rem;
    }

    .section-title-emoji {
        font-size: 1.75rem;
    }



    /******************** NAVIGATION BUTTONS ********************/

    .about-icon:before {
        content: "💡";
    }

    .languages-icon:before {
        content: "🔧";
    }

    .p-speeddial {
        bottom: 2rem;
        left: 2rem;
        gap: 1.6rem;
        position: fixed;
    }

    .p-speeddial-action {
        background: #ffffff;
        overflow: unset;
        height: unset;
        width: unset;
    }

    .p-speeddial-button {
        background: #ffffff;
        display: flex;
        height: 3rem;
        width: 3rem;
    }

    .p-speeddial-item {
        margin: 0;
    }

    .p-speeddial-list {
        width: 100%;
        flex-direction: column !important;
        gap: 1.6rem;
    }

    .projects-icon:before {
        content: "🏗️";
    }



    /******************** HEADER ********************/

    #carousel {
        flex-direction: column;
        gap: 0.5rem;
    }

    .carousel-item {
        font-size: 1.05rem;
    }

    #cta {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
        margin-bottom: 1.25rem;
    }

    header {
        flex-direction: column-reverse;
        font-size: 1.05rem;
        gap: 3rem;
        text-align: center;
    }

    #header-text {
        gap: 3rem;
        position: static;
    }

    img {
        width: 11rem;
    }

    picture {
        justify-content: center;
    }

    #title-heading-emoji {
        font-size: 2rem;
    }



    /******************** LANGUAGES SECTION ********************/

    .languages {
        gap: 5rem;
        margin-top: 2rem;
    }

    .tools {
        gap: 3rem;
        margin: 5rem 0;
    }



    /******************** PROJECTS SECTION ********************/

    .p-tabview-nav-btn {
        width: 2rem;
    }
    .p-tabview-nav-link {
        height: 103%;
    }

    .p-tabview-title {
        white-space: break-spaces;
    }

    /******************** CONTACT SECTION ********************/

    #contact-section {
        margin: 4rem 0 2rem 0;
        padding: 4rem 1rem;
    }

    #contact-section-text {
        margin-bottom: 2rem;
    }

    #connections {
        gap: 4rem 6rem;
    }

    .connections-item-icon {
        height: 4.5rem;
        max-width: 4.5rem;
    }
}